@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.jophiel.forms.UserCreateForm
@import org.iatoki.judgels.jophiel.controllers.routes

@(userCreateForm: Form[UserCreateForm])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@formErrorView(userCreateForm)

@b3.form(routes.UserController.postCreateUser()) {

    @helper.CSRF.formField

    @b3.text(userCreateForm("username"), '_label -> Messages.get("user.username"))
    @b3.text(userCreateForm("name"), '_label -> Messages.get("user.name"))
    @b3.email(userCreateForm("email"), '_label -> Messages.get("user.email"))
    @b3.password(userCreateForm("password"), '_label -> Messages.get("user.password"))
    @b3.text(userCreateForm("roles"), '_label -> Messages.get("user.roles"))

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.create") }
}
