@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.jophiel.forms.UserEditForm
@import org.iatoki.judgels.jophiel.controllers.routes

@(userEditForm: Form[UserEditForm], userId: Long)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@formErrorView(userEditForm)

@b3.form(routes.UserController.postEditUser(userId)) {

    @helper.CSRF.formField

    @b3.text(userEditForm("username"), '_label -> Messages.get("user.username"))
    @b3.text(userEditForm("name"), '_label -> Messages.get("user.name"))
    @b3.email(userEditForm("email"), '_label -> Messages.get("user.email"))
    @b3.password(userEditForm("password"), '_label -> Messages.get("user.password"))
    @b3.text(userEditForm("roles"), '_label -> Messages.get("user.roles"))

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}
