@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.table.tableView
@import org.iatoki.judgels.play.views.html.table.tableHeadersView
@import org.iatoki.judgels.play.views.html.table.searchView
@import org.iatoki.judgels.play.views.html.table.paginationView
@import org.iatoki.judgels.play.Page
@import org.iatoki.judgels.jophiel.UnverifiedUserEmail
@import org.iatoki.judgels.jophiel.controllers.routes

@(pageOfUnverifiedUserEmails: Page[UnverifiedUserEmail], orderBy: String, orderDir: String, filterString: String)

@searchView(pageOfUnverifiedUserEmails.getPageIndex, orderBy, orderDir, filterString, routes.UserController.listUnverifiedUsers)

<div class="clearfix"></div>

@tableView() {
    @tableHeadersView(pageOfUnverifiedUserEmails.getPageIndex, orderBy, orderDir, filterString, routes.UserController.listUnverifiedUsers)(
        "id" -> Messages.get("commons.id"),
        "username" -> Messages.get("user.username"),
        "email" -> Messages.get("user.email")
    )

    <tbody>
        @for(userEmail <- pageOfUnverifiedUserEmails.getData) {
            <tr>
                <td>@userEmail.getId</td>
                <td>@userEmail.getUsername</td>
                <td>@userEmail.getEmail</td>
                <td class="text-center">
                    <a href="@routes.UserEmailController.resendEmailVerification(userEmail.getId)" class="btn btn-primary btn-sm">@Messages.get("user.email.resendVerification")</a>
                    <a href="@routes.UserEmailController.activateEmail(userEmail.getId)" class="btn btn-primary btn-sm">@Messages.get("user.email.activate")</a>
                </td>
            </tr>
        }
    </tbody>
}

@paginationView(pageOfUnverifiedUserEmails, orderBy, orderDir, filterString, routes.UserController.listUnverifiedUsers)