@import play.i18n.Messages
@import org.iatoki.judgels.jophiel.controllers.routes
@import org.iatoki.judgels.jophiel.forms.UserProfileEditForm
@import org.iatoki.judgels.jophiel.forms.UserAvatarForm
@import org.iatoki.judgels.jophiel.forms.UserEmailCreateForm
@import org.iatoki.judgels.jophiel.forms.UserPhoneCreateForm
@import org.iatoki.judgels.jophiel.forms.UserInfoUpsertForm
@import org.iatoki.judgels.jophiel.UserEmail
@import org.iatoki.judgels.jophiel.UserPhone

@(userProfileEditForm: Form[UserProfileEditForm], userProfilePictureForm: Form[UserAvatarForm], userEmailCreateForm: Form[UserEmailCreateForm], primaryEmail: UserEmail, userEmails: List[UserEmail], userPhoneCreateForm: Form[UserPhoneCreateForm], primaryPhone: UserPhone, userPhones: List[UserPhone], userInfoUpsertForm: Form[UserInfoUpsertForm])

<hr />
<h3>@Messages.get("user.account")</h3>
<hr />
<div class="clearfix">
    <div class="col-md-12">
        @editOwnProfileTemplateView(userProfileEditForm, userProfilePictureForm, routes.UserProfileController.postEditOwnAvatar(), routes.UserProfileController.postEditOwnProfile())
    </div>
</div>

<hr />
<h3>@Messages.get("user.contact")</h3>
<hr />
<div class="clearfix">
    <div class="col-md-12">
        <h4>@Messages.get("user.emails")</h4>
        @editOwnEmailsTemplateView(userEmailCreateForm, primaryEmail, userEmails)

        <h4>@Messages.get("user.phones")</h4>
        @editOwnPhonesTemplateView(userPhoneCreateForm, primaryPhone, userPhones)
    </div>
</div>

<hr />
<h3>@Messages.get("user.info")</h3>
<hr />
<div class="clearfix">
    <div class="col-md-12">
        @editOwnInfoTemplateView(userInfoUpsertForm)
    </div>
</div>
