@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.jophiel.controllers.routes
@import org.iatoki.judgels.jophiel.forms.UserEmailCreateForm
@import org.iatoki.judgels.jophiel.UserEmail

@(userEmailCreateForm: Form[UserEmailCreateForm], primaryEmail: UserEmail, userEmails: List[UserEmail])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>@Messages.get("user.email")</th>
            <th>@Messages.get("user.email.status")</th>
            <th>@Messages.get("commons.actions")</th>
        </tr>
    </thead>
    <tbody>
        @for(userEmail <- userEmails) {
            <tr>
                <td>@userEmail.getEmail</td>
                <td>
                    @if((primaryEmail != null) && primaryEmail.getJid.equals(userEmail.getJid)) {
                        <span class="label label-primary">@Messages.get("user.email.primary")</span>
                    }
                    @if(userEmail.isEmailVerified) {
                        <span class="label label-success"> @Messages.get("user.email.verified")</span>
                    } else {
                        <span class="label label-danger"> @Messages.get("user.email.unverified")</span>
                    }
                </td>
                <td>
                    @if((primaryEmail == null) || !primaryEmail.getJid.equals(userEmail.getJid)) {
                        <a href="@routes.UserEmailController.makeEmailPrimary(userEmail.getId)" class="btn btn-xs btn-primary">@Messages.get("user.email.makePrimary")</a>
                        <a href="@routes.UserEmailController.deleteEmail(userEmail.getId)" class="btn btn-xs btn-danger">@Messages.get("commons.remove")</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@formErrorView(userEmailCreateForm)

@b3.form(routes.UserEmailController.postCreateEmail()) {
    @helper.CSRF.formField

    @b3.text(userEmailCreateForm("email"), '_label -> Messages.get("user.email"))

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.add") }
}