@import play.i18n.Messages
@import play.api.mvc.Call
@import org.iatoki.judgels.jophiel.forms.UserProfileForm
@import org.iatoki.judgels.jophiel.forms.UserProfilePictureForm
@import org.iatoki.judgels.play.views.html.formErrorView

@(userProfileForm: Form[UserProfileForm], userProfilePictureForm: Form[UserProfilePictureForm], updatePictureCall: Call, updateProfileCall: Call)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

<img class="avatar-picture center-block" src="@session().get("avatar")" alt="profilePicture"/>
<br />
<br />

@formErrorView(userProfilePictureForm)

@b3.form(updatePictureCall, 'enctype -> "multipart/form-data", 'id -> "avatar-form") {
    @b3.file(userProfilePictureForm("avatar"), '_label -> Messages.get("profile.avatar"), 'id -> "avatar-input")
}

@formErrorView(userProfileForm)

@b3.form(updateProfileCall) {

    @b3.text(userProfileForm("name"), '_label -> Messages.get("user.name"))
    @b3.password(userProfileForm("password"), '_label -> Messages.get("user.password"))
    @b3.password(userProfileForm("confirmPassword"), '_label -> Messages.get("user.confirmPassword"))

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}

<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/userProfilePicture.js")"></script>
