@import java.util.Locale
@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.jophiel.controllers.routes
@import org.iatoki.judgels.WorldCountryRegistry
@import org.iatoki.judgels.jophiel.forms.UserInfoUpsertForm
@import org.iatoki.judgels.jophiel.UserInfoGenders
@import org.iatoki.judgels.jophiel.UserInfoShirtSizes

@(userInfoUpsertForm: Form[UserInfoUpsertForm])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@formErrorView(userInfoUpsertForm)

@b3.form(routes.UserProfileController.postUpdateInfo()) {
    @b3.radio(userInfoUpsertForm("gender"), UserInfoGenders.values.map(e => (e.name() -> Messages.get("user.info.gender." + e.name()))).toSeq, '_label -> Messages.get("user.info.gender"))
    @b3.text(userInfoUpsertForm("birthDate"), '_label -> Messages.get("user.info.birthDate"), 'class -> "form-control datepicker")
    @b3.textarea(userInfoUpsertForm("streetAddress"), '_label -> Messages.get("user.info.streetAddress"))
    @b3.text(userInfoUpsertForm("postalCode"), '_label -> Messages.get("user.info.postalCode"))
    @b3.text(userInfoUpsertForm("institution"), '_label -> Messages.get("user.info.institution"), '_help -> Messages.get("user.info.help.institution"), 'class -> "form-control institution_autocomplete", 'autocomplete -> "off")
    @b3.text(userInfoUpsertForm("city"), '_label -> Messages.get("user.info.city"), '_help -> Messages.get("user.info.help.city"), 'class -> "form-control city_autocomplete", 'autocomplete -> "off")
    @b3.text(userInfoUpsertForm("provinceOrState"), '_label -> Messages.get("user.info.provinceOrState"), '_help -> Messages.get("user.info.help.provinceOrState"), 'class -> "form-control province_autocomplete", 'autocomplete -> "off")

    @b3.select(userInfoUpsertForm("country"), (Seq(Messages.get("user.info.country.DO_NOT_WANT_TO_STATE") -> Messages.get("user.info.country.DO_NOT_WANT_TO_STATE")) ++ WorldCountryRegistry.getInstance().getCountries.map(c => (c -> c)).toSeq), '_label -> Messages.get("user.info.country"), 'class -> "form-control selectpicker", '_help -> Messages.get("user.info.help.country"))

    @b3.select(userInfoUpsertForm("shirtSize"), UserInfoShirtSizes.values.map(e => (e.name() -> Messages.get("user.info.shirtSize." + e.name()))).toSeq, '_label -> Messages.get("user.info.shirtSize"), 'class -> "form-control selectpicker")

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}

<script type="text/javascript">
    var institutionAutoCompleteUrl = "@org.iatoki.judgels.jophiel.controllers.api.internal.institution.routes.InternalInstitutionAPIController.autocompleteInstitution()";
    var cityAutoCompleteUrl = "@org.iatoki.judgels.jophiel.controllers.api.internal.city.routes.InternalCityAPIController.autocompleteCity()";
    var provinceAutoCompleteUrl = "@org.iatoki.judgels.jophiel.controllers.api.internal.province.routes.InternalProvinceAPIController.autocompleteProvince()";
</script>
<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/institutionAutoComplete.js")"></script>
<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/cityAutoComplete.js")"></script>
<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/provinceAutoComplete.js")"></script>
<script type="text/javascript" src="@controllers.routes.Assets.versioned("lib/playcommons/javascripts/datepicker.js")"></script>
