@import play.i18n.Messages
@import org.iatoki.judgels.jophiel.UserInfo

@(userInfo: UserInfo)

<img class="avatar-picture center-block" src="@userInfo.getProfilePictureUrl.toString" alt="profilePicture"/>
<br />
<br />
<div class="form-group row">
    <label class="control-label col-md-3">@Messages.get("user.username")</label>
    <div class="col-md-9">@userInfo.getUsername</div>
</div>
<div class="form-group row">
    <label class="control-label col-md-3">@Messages.get("user.name")</label>
    <div class="col-md-9">@userInfo.getName</div>
</div>
<div class="form-group row">
    <label class="control-label col-md-3">@Messages.get("user.email")</label>
    <div class="col-md-9">@userInfo.getEmail</div>
</div>
