@import play.i18n.Messages
@import org.iatoki.judgels.jophiel.User
@import org.iatoki.judgels.jophiel.UserEmail
@import org.iatoki.judgels.jophiel.UserPhone
@import org.iatoki.judgels.jophiel.UserInfo
@import org.iatoki.judgels.jophiel.views.html.profile.viewEmailsTemplateView
@import org.iatoki.judgels.jophiel.views.html.profile.viewFullAccountTemplateView
@import org.iatoki.judgels.jophiel.views.html.profile.viewFullInfoTemplateView
@import org.iatoki.judgels.jophiel.views.html.profile.viewPhonesTemplateView

@(user: User, userPrimaryEmail: UserEmail, userEmails: List[UserEmail], userPrimaryPhone: UserPhone, userPhones: List[UserPhone], userInfo: UserInfo)

<hr />
<h3>@Messages.get("basicProfile.text.basicProfile")</h3>
<hr />
<div class="clearfix">
    <div class="col-md-12">
        @viewFullAccountTemplateView(user)
    </div>
</div>

<hr />
<h3>@Messages.get("contact.text.contact")</h3>
<hr />
<div class="clearfix">
    <div class="col-md-12">
        <h4>@Messages.get("email.text.emails")</h4>
        @viewEmailsTemplateView(userPrimaryEmail, userEmails)

        <h4>@Messages.get("phone.text.phones")</h4>
        @viewPhonesTemplateView(userPrimaryPhone, userPhones)
    </div>
</div>

<hr />
<h3>@Messages.get("info.text.info")</h3>
<hr />
<div class="clearfix">
    <div class="col-md-12">
        @viewFullInfoTemplateView(userInfo)
    </div>
</div>
