@import org.iatoki.judgels.jophiel.controllers.routes
@import org.iatoki.judgels.play.Page
@import org.iatoki.judgels.jophiel.UserActivity

@(pageOfUserActivities: Page[UserActivity], orderBy: String, orderDir: String, filterString: String, clientNames: String)

@listFunc(newPageIndex: scala.Long, newOrderBy: String, newOrderDir: String, newFilterString: String) = @{routes.UserActivityController.listOwnActivities(newPageIndex, newOrderBy, newOrderDir, newFilterString, clientNames)}

@listUsersActivitiesTemplateView(pageOfUserActivities, orderBy, orderDir, filterString, clientNames, null, routes.UserActivityController.listOwnActivities(pageOfUserActivities.getPageIndex, orderBy, orderDir, filterString, clientNames), listFunc, false)