@import org.iatoki.judgels.jophiel.controllers.routes
@import org.iatoki.judgels.jophiel.views.html.activity.listUsersActivitiesTemplateView

@(pageOfUserActivities: org.iatoki.judgels.play.Page[org.iatoki.judgels.jophiel.UserActivity], orderBy: String, orderDir: String, filterString: String, clientNames: String, usernames: String)

@listFunc(newPageIndex: scala.Long, newOrderBy: String, newOrderDir: String, newFilterString: String) = @{routes.UserActivityController.listUsersActivities(newPageIndex, newOrderBy, newOrderDir, newFilterString, clientNames, usernames)}

@listUsersActivitiesTemplateView(pageOfUserActivities, orderBy, orderDir, filterString, clientNames, usernames, routes.UserActivityController.listUsersActivities(pageOfUserActivities.getPageIndex, orderBy, orderDir, filterString, clientNames, usernames), listFunc, true)
