@import play.i18n.Messages
@import org.iatoki.judgels.play.JudgelsPlayProperties

@(linkedClients: Map[String, String])

<p>&nbsp;</p>

<p>@Messages.get("welcome.text.loggedIn", JudgelsPlayProperties.getInstance.getAppCopyright)</p>

<p>@Messages.get("welcome.text.goToApps", JudgelsPlayProperties.getInstance.getAppCopyright)</p>

@for((target, label) <- linkedClients) {
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="@target">@label</a>
        </div>
    </div>
}