@import play.i18n.Messages
@import org.iatoki.judgels.jophiel.controllers.routes
@import org.iatoki.judgels.jophiel.forms.ChangePasswordForm
@import org.iatoki.judgels.play.views.html.formErrorView

@(changePasswordForm: Form[ChangePasswordForm], changePasswordCode: String)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }

<div class="row login-content">
    <div class="col-md-12">
        <h2>@Messages.get("forgotPassword.changePassword")</h2>

        @formErrorView(changePasswordForm)

        @b3.form(routes.UserAccountController.postChangePassword(changePasswordCode)) {

            @helper.CSRF.formField

            @b3.password(changePasswordForm("password"), '_label -> Messages.get("user.password"))
            @b3.password(changePasswordForm("confirmPassword"), '_label -> Messages.get("user.confirmPassword"))

            @b3.submit('class -> "btn btn-primary") { @Messages.get("forgotPassword.changePassword") }
        }
    </div>
</div>