@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.jophiel.forms.ForgotPasswordForm
@import org.iatoki.judgels.jophiel.controllers.routes

@(forgotPasswordForm: Form[ForgotPasswordForm])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }

<div class="row login-content">
    <div class="col-md-12">
        <h2>@Messages.get("forgotPassword.forgotPassword")</h2>

        @formErrorView(forgotPasswordForm)

        @b3.form(routes.UserAccountController.postForgotPassword()) {

            @helper.CSRF.formField

            @b3.text(forgotPasswordForm("username"), '_label -> Messages.get("user.username"))
            @b3.email(forgotPasswordForm("email"), '_label -> Messages.get("user.email"))

            @b3.submit('class -> "btn btn-primary") { @Messages.get("forgotPassword.forgotPassword") }
        }
    </div>
</div>