@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.jophiel.JophielProperties
@import org.iatoki.judgels.jophiel.forms.RegisterForm
@import org.iatoki.judgels.jophiel.controllers.routes

@(registerForm: Form[RegisterForm])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }

<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/passwordMatch.js")"></script>
<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/passwordStrength.js")"></script>
@if(JophielProperties.getInstance().isRegistrationUsingRecaptcha) {
    <script src='https://www.google.com/recaptcha/api.js'></script>
}

<div class="row login-content">
    <div class="col-md-12">
        <h2>@Messages.get("register.registerNewAccount")</h2>

        @formErrorView(registerForm)

        @b3.form(routes.UserAccountController.postRegister()) {

            @helper.CSRF.formField

            @b3.text(registerForm("username"), '_label -> Messages.get("user.username"))
            @b3.text(registerForm("name"), '_label -> Messages.get("user.name"))
            @b3.email(registerForm("email"), '_label -> Messages.get("user.email"))
            @b3.password(registerForm("password"), '_label -> Messages.get("user.password"), 'class -> "form-control zxcvbn match-src")
            @b3.password(registerForm("confirmPassword"), '_label -> Messages.get("user.confirmPassword"), 'class -> "form-control match-tgt")

            @if(JophielProperties.getInstance().isRegistrationUsingRecaptcha) {
                <div class="form-group">
                    <div class="g-recaptcha col-md-offset-2" data-sitekey="@JophielProperties.getInstance().getRegistrationRecaptchaSiteKey"></div>
                </div>
            }

            @b3.submit('class -> "btn btn-primary") { @Messages.get("register.register") }
        }
    </div>
</div>