@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.table.tableView
@import org.iatoki.judgels.play.views.html.table.tableHeadersView
@import org.iatoki.judgels.play.views.html.table.searchView
@import org.iatoki.judgels.play.views.html.table.paginationView
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.jophiel.controllers.routes
@import org.iatoki.judgels.play.Page
@import org.iatoki.judgels.jophiel.Institution
@import org.iatoki.judgels.jophiel.forms.InstitutionCreateForm
@import org.iatoki.judgels.jophiel.forms.InstitutionUploadForm

@(pageOfInstitutions: Page[Institution], orderBy: String, orderDir: String, filterString: String, institutionCreateForm: Form[InstitutionCreateForm], institutionUploadForm: Form[InstitutionUploadForm])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

<h4>@Messages.get("institution.importTXT")</h4>

@formErrorView(institutionUploadForm)

@b3.form(routes.InstitutionController.postUploadInstitution(pageOfInstitutions.getPageIndex, orderBy, orderDir, filterString), 'enctype->"multipart/form-data") {

    @helper.CSRF.formField

    @b3.file(institutionUploadForm("institutions"), '_label -> Messages.get("institution.institutions"), 'class -> "form-control", '_help -> Messages.get("institution.help.importTXT"))

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.upload") }
}


<h4>@Messages.get("institution.manualCreate")</h4>

@formErrorView(institutionCreateForm)

@b3.form(routes.InstitutionController.postCreateInstitution(pageOfInstitutions.getPageIndex, orderBy, orderDir, filterString)) {

    @helper.CSRF.formField

    @b3.text(institutionCreateForm("name"), '_label -> Messages.get("institution.name"), 'class -> "form-control")

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.add") }
}


@searchView(pageOfInstitutions.getPageIndex, orderBy, orderDir, filterString, routes.InstitutionController.listCreateInstitutions)

<div class="clearfix"></div>

@tableView() {
    @tableHeadersView(pageOfInstitutions.getPageIndex, orderBy, orderDir, filterString, routes.InstitutionController.listCreateInstitutions)(
        "id" -> Messages.get("commons.id"),
        "institution" -> Messages.get("institution.name"),
        "referenceCount" -> Messages.get("institution.referenceCount")
    )
    <tbody>
    @for(institution <- pageOfInstitutions.getData) {
        <tr>
            <td>@institution.getId</td>
            <td>@institution.getName</td>
            <td>@institution.getReferenceCount</td>
            <td class="text-center">
                <a href="@routes.InstitutionController.deleteInstitution(institution.getId)" onclick="confirmLink ( event, this.href )"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </td>
        </tr>
    }
    </tbody>
}

@paginationView(pageOfInstitutions, orderBy, orderDir, filterString, routes.InstitutionController.listCreateInstitutions)